



<h1>New Article</h1>


<%= form_for :article, url: articles_path do |f| %>

 <% if @article.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :Title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :Text %><br>
    <%= f.text_area :text %>
  </p>
 
   <p>
    <%= f.label :Author %><br>
    <%= f.text_area :author %>
  </p>
 

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back to Articles', articles_path %>