
<html>
<body background = "http://viev.hu/works/blog/cargo/U_welcome_page_first.jpg">

<h1 style= "color:white">Welcome to the World of Rails !!!</h1>
 
 <div style="text-align:center; font-size:20px;background-color:white">
 
 <%= link_to 'My Blog', controller: 'articles' %>

</div>
</body>
</html>